---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio by Alexandre Spindola | Full Stack Web Programmer and Developer"
  description="Hire Alexandre Spindola to create your websites and web applications. Full Stack Developer and Digital Marketer. Specialized in Martech solutions."
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://avatars.githubusercontent.com/u/104132868"
        alt="Alexandre Spindola photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, I'm Alexandre <a
          href="https://www.linkedin.com/in/alexandrespindola/"
          target="_blank"
          class="flex justify-center items-center"
        >
          <Badge>Available to work</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span>+5 year's experience.</span>
        <span class="text-yellow-200/90">
          Full Stack Web Developer and Digital Marketing.</span
        >
        <span class="text-red-200/90"
          >Brazilian digital nomad living in Madrid, Spain 🇪🇦.</span
        >
        <span class="opacity-75">
          Specialized in creating unique websites and martech systems.
        </span>
      </h2>

      <nav class="flex gap-x-2 mt-8">
        <SocialPill href="https://www.linkedin.com/in/alexandrespindola/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/alexandrespindola/">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://github.com/alexandrespindola/">
          <MailIcon class="size-6" />
          alexandre.spindola11@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibol mb-4 flex gap-x-2 items-center">
        <Briefcase class="size-8" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
