---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experience from "../components/Experience.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import TechStack from "../components/TechStack.astro";
---

<Layout
  title="Alexandre Spindola | Full Stack Software Engineer | GCP Certified| AI-Powered Automation & High-Performance Systems"
  description="Portfolio of Alexandre Spindola, a Full Stack Software Engineer with an MBA specializing in AI-powered automation and high-performance systems. Discover scalable ecosystems built with Go, JavaScript/TypeScript, N8N, and Supabase."
>
  <a id="top" class="block"></a>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36 px-5">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="services">
      <TitleSection>
        <BriefcaseIcon class="size-8" />
        Services
      </TitleSection>
      <Services />
    </SectionContainer>

    <SectionContainer id="tech-stack">
      <TitleSection>
        <CodeIcon class="size-7" />
        Tech Stack
      </TitleSection>
      <TechStack />
    </SectionContainer>

    <SectionContainer id="experience">
      <TitleSection>
        <BriefcaseIcon class="size-8" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" class="px-3">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <About />
    </SectionContainer>
  </div>
</Layout>
