---
const personalImageAlt = "Alexandre Spindola";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-secondary dark:[&>p>strong]:text-primary [&>p>strong] [&>p>strong] text-pretty order-2 md:order-1"
  >
    <p>
      I am a Full Stack Web Developer with experience in creating <strong>modern websites and landing pages</strong> using technologies such as Jamstack and WordPress, as well as developing custom web systems and online stores.
    </p>

    <p>
      My focus is on <strong>automating workflows and providing Martech solutions</strong> that help improve the efficiency and functionality of web applications, effectively contributing to business success.
    </p>

    <p>
      I hold a degree in <em>Psychology</em>, have the <em>Google Cloud Associate Engineer</em> certification, and am currently pursuing an <strong>MBA in Software Engineering</strong> at the University of São Paulo (Brazil).

    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
