---
const personalImageAlt = "Alexandre Spindola";
import Badge from "../components/Badge.astro";
import XingIcon from "../components/icons/XingIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import ResumeIcon from "./icons/ResumeIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<div class="flex gap-4 mb-4 pointer-events-none">

  <Badge>Available to work</Badge>
</div>
<h1
  class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
>
  Hey, I'm Alexandre
</h1>
<div class="hero">
  <p class="green">
    <strong>Software Engineer</strong>, fully authorized to work in Europe, specializing in <strong>Full Stack development</strong> and <strong>High Performance Automation</strong>, with an <strong>MBA in Software Engineering</strong>.
  </p>
  <p class="green">
    Expertise lies in creating tangible business value by architecting and developing scalable, end-to-end systems, spanning from modern JAMstack frontends with <strong>Vanilla JavaScript, TypeScript, Astro, Vue.js, and Nuxt.js</strong> to a versatile backend stack including <strong>Node.js, Deno, Go, n8n</strong> for automation, and <strong>Supabase/PostgreSQL</strong> for data management. 
</p>
  <p class="green">
    As a <strong>Google Associate Cloud Engineer (GCP)</strong> with experience in <strong>serverless architecture, CI/CD, cloud infrastructure, and performance optimization</strong>, brings a unique multidisciplinary background in <strong>Psychology and Digital Marketing</strong> to bridge the gap between complex technical requirements and strategic business objectives through cross-functional collaboration.
  </p>
  <p class="green">
    Currently expanding expertise into <strong>Go</strong> for building highly concurrent, distributed systems and high-performance APIs, alongside edge-native databases like <strong>Turso</strong> for low-latency, globally distributed applications, while actively learning German.
  </p>
</div>

<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill
    href="https://bucket.spindola.me/en-cv-alexandre-spindola-software-engineer-20250805.pdf"
  >
    <ResumeIcon class="size-4" />
    Resume
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/alexspindola">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://www.xing.com/profile/Alexandre_Spindola">
    <XingIcon class="size-4" />
    Xing
  </SocialPill>
  <SocialPill href="https://github.com/alexandrespindola/">
    <GitHubIcon class="size-4" />
    GitHub
  </SocialPill>
  <SocialPill href="mailto:alexandre.spindola11@gmail.com">
    <MailIcon class="size-4" />
    Contact
  </SocialPill>
</nav>

<style>
  .hero p {
    @apply mt-6 text-xl text-gray-800 [&>strong]:font-semibold dark:text-gray-300;
  }

  .green {
    @apply dark:[&>strong]:text-primary [&>strong]:text-secondary;
  }
</style>
