---
const personalImageAlt = "Alexandre Spindola";
import Badge from "../components/Badge.astro";
import XingIcon from "../components/icons/XingIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import ResumeIcon from "./icons/ResumeIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<div class="flex gap-4 mb-4 pointer-events-none">
  <img
    class="rounded-full shadow-lg size-16"
    src="/alexandre.webp"
    alt={personalImageAlt}
  />
  <Badge>Available to work</Badge>
</div>
<h1
  class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
>
  Hey, I'm Alexandre
</h1>
<div class="hero">
  <p class="green">
    <strong>Software Engineer</strong> specializing in <strong>Full Stack development</strong> and <strong>High Performance Automation</strong>, with an <strong>MBA in Software Engineering</strong>. Expertise lies in creating tangible business value by architecting and developing end-to-end systems, from dynamic frontends with <strong>Astro, Vue.js, and Nuxt.js</strong> to a versatile backend stack including <strong>Node.js, Deno, n8n</strong> for automation, and <strong>Supabase/PostgreSQL</strong> for data.
  </p>
  <p class="green">
    As a <strong>Google Associate Cloud Engineer (GCP)</strong> with a unique background in <strong>Psychology</strong>, bridges the gap between complex technical requirements and strategic business objectives.
  </p>
  <p class="green">
    Currently expanding expertise into <strong>Go</strong> for building highly concurrent, high-performance backend services and APIs, alongside edge-native databases like <strong>Turso</strong> for building low-latency, globally distributed applications, while actively learning <strong>German</strong>. Based in <strong>Cologne</strong> with full EU work authorization and immediate availability for remote, hybrid, or on-site roles.
  </p>
</div>

<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill
    href="https://bucket.spindola.me/en-cv-alexandre-spindola-software-engineer-20250717.pdf"
  >
    <ResumeIcon class="size-4" />
    Resume
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/alexspindola">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://www.xing.com/profile/Alexandre_Spindola">
    <XingIcon class="size-4" />
    Xing
  </SocialPill>
  <SocialPill href="https://github.com/alexandrespindola/">
    <GitHubIcon class="size-4" />
    GitHub
  </SocialPill>
  <SocialPill href="mailto:alexandre.spindola11@gmail.com">
    <MailIcon class="size-4" />
    Contact
  </SocialPill>
</nav>

<style>
  .hero p {
    @apply mt-6 text-xl text-gray-800 [&>strong]:font-semibold dark:text-gray-300;
  }

  .green {
    @apply dark:[&>strong]:text-primary [&>strong]:text-secondary;
  }
</style>
